tomp3.ipynb
model.png
processed_mp3s/
single_label_audio_processing_pipeline/
spectrograms/
tomp3.ipynb
train_val_test_dict.json
training_data.zip
training_data/
genres_original/
genres_original/blues/blues.00000.mp3
genres_original/blues/blues.00001.mp3
genres_original/blues/blues.00002.mp3
genres_original/blues/blues.00003.mp3
genres_original/blues/blues.00004.mp3
genres_original/blues/blues.00005.mp3
genres_original/blues/blues.00006.mp3
genres_original/blues/blues.00007.mp3
genres_original/blues/blues.00008.mp3
